<div class="slider">
	<ul id="slides">
	    <li class="slide showing"></li>
	    <li class="slide"></li>
	    <li class="slide"></li>
	    <li class="slide"></li>
	    <li class="slide"></li>
	</ul>
	<div class="controls">
		<div class="arrows">
			<div class="left">
				<%= image_tag "left_arrow_slider", :id => "previous" %>
			</div>
			<%= image_tag "", :id => "pause" %>
			<div class="right">
				<%= image_tag "right_arrow_slider", :id => "next" %>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="catalog">
		<% @products.each do |product| %>
			<div class="product">
				<%= link_to product.name + product.cost.to_s, product_path(product) %>
				<%= image_tag product.picture.url %>
				<p><%= product.cost %></p>
			</div>
		<% end %>
	</div>
</div>
