<div class="slider">
	<ul id="slides">
	    <li class="slide showing"></li>
	    <li class="slide"></li>
	    <li class="slide"></li>
	    <li class="slide"></li>
	    <li class="slide"></li>
	</ul>
	<div class="controls">
		<%= image_tag "left_arrow_slider", :id => "previous" %>
		<%= image_tag "pause_slider", :id => "pause" %>
		<%= image_tag "right_arrow_slider", :id => "next" %>
	</div>
</div>
<div class="container">
	<div class="catalog">
		<div class="product">
			<%= link_to "Обувь", shoes_index_url %>
			<%= image_tag "product_default" %>
		</div>
	</div>
</div>
