<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная</title>

	<%= stylesheet_link_tag "main", media: "all", "data-turbolinks-track" => "reload" %>
	<!-- <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"> -->
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="logo">
				<a href="index.html.erb"><%= image_tag "logo_small" %></a>
			</div>
			<div class="main_menu">
				<a href="index.html">Главная</a>
				<a href="catalog.html">Каталог</a>
				<a href="contacts.html">Контакты</a>
				<%= link_to "Редактирование", controller: 'products' %>
			</div>
		</div>
		<div class="name">
			<h1>Sneakers Store</h1>
			<h2>Покупай кроссовки у нас</h2>
		</div>
		<div class="catalog">
			<div class="product">
				<a href="products/products-01.html">Nike Red</a>
				<%= image_tag "product_default" %>
			</div>
			<div class="product">
				<a href="products/products-02.html">Nike Green</a>
				<%= image_tag "product_default" %>
			</div>
			<div class="product">
				<a href="products/products-03.html">Nike Black</a>
				<%= image_tag "product_default" %>
			</div>
			<div class="product">
				<a href="products/products-04.html">Converse</a>
				<%= image_tag "product_default" %>
			</div>
			<div class="product">
				<a href="products/products-05.html">Nike Blue</a>
				<%= image_tag "product_default" %>
			</div>
			<div class="product">
				<a href="products/products-06.html">Vance</a>
				<%= image_tag "product_default" %>
			</div>
		</div>
		<div class="clr"></div>
		<div class="footer">
			<div class="social">
				<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
			<div class="copyright">
				<p>Все права защищены &copy;</p>
			</div>
		</div>
	</div>
</body>
</html>
