<%= form_for @product do |f| %>
<div class="form_product">
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:
			</h2>
			<ul>
				<% @product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label "Название" %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Описание" %><br>
		<%= f.text_area :discription %>
	</p>
	<p>
		<%= f.label "Тип продукта" %><br>
		<%= f.select :type_product, ['Обувь', 'Футболки', 'Рюкзаки']%>
	</p>
	<p>
		<%= f.label "Сезон" %><br>
		<%= f.select :season, ['Лето', 'Осень', 'Зима', 'Весна']%>
	</p>
	<p>
		<%= f.label "Пол" %><br>
		<%= f.select :sex, ['М', 'Ж']%>
	</p>
	<p>
		<%= f.label "Размер" %><br>
		<%= f.select :size, ['36', '41', '46']%>
	</p>
	<p>
		<%= f.label "Цвет" %><br>
		<%= f.select :color, ['красный', 'черный', 'зеленый']%>
	</p>
	<p>
		<%= f.label "Фото" %><br>
		<%= f.file_field :picture %>
	</p>
	<hr>
	<p>
		<%= f.label "Цена" %><br>
		<%= f.text_field :cost %>
	</p>
	<p>
		<%= f.label "Скидка" %><br>
		<%= f.text_field :discount %>
	</p>
	<p>
		<%= f.submit "Создать продукт" %>
	</p>
</div>	
<% end %>