 <h1>Добавить новый продукт</h1>

<%= form_for :product, url: products_path, html: { multipart: true } do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<hr>
	<p>
		<%= f.label :discription %><br>
		<%= f.text_area :discription %>
	</p>
	<hr>
	<p>
		<%= f.label :color %><br>
		<%= f.select :color, ['красный', 'черный', 'зеленый']%>
	</p>
	<hr>
	<p>
		<%= f.label :picture %><br>
		<%= f.file_field :picture %>
	</p>
	<hr>
	<p>
		<%= f.submit %>
	</p>
<% end %>