<p>
	<%= image_tag @product.picture.url %>
</p>
<p>
	<strong>Type:</strong>
	<%= @product.type_product %>
</p>

<p>
	<strong>Name:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Discription:</strong>
	<%= @product.discription %>
</p>

<p>
	<strong>Color:</strong>
	<%= @product.color %>
</p>

<p>
	<strong>Season:</strong>
	<%= @product.season %>
</p>

<p>
	<strong>Sex:</strong>
	<%= @product.sex %>
</p>

<p>
	<strong>Size:</strong>
	<%= @product.size %>
</p>

<p>
	<strong>Cost:</strong>
	<%= @product.cost.to_s + " рублей" %>
</p>

<p>
	<strong>Discount:</strong>
	<%= @product.discount.to_s + "%" %>
</p>

