<hr>
<div class="product_show">
	<div class="product_img_show">
		<%= image_tag @product.picture.url %>
	</div>
	<div class="producr_dis_show">
		<p class="name">
			<p><strong>Название:</strong></p>
			<%= @product.name %>
		</p>
		<br>
		<hr>
		<p class="dis">
			<p><strong>Описание:</strong></p>
			<%= @product.discription %>
		</p>
		<br>
		<hr>
		<p class="color">
			<p><strong>Цвет:</strong>
			<%= @product.color %>
		</p>
		<p class="season">
			<strong>Сезон:</strong>
			<%= @product.season %>
		</p>
		<p class="sex">
			<strong>Пол:</strong>
			<%= @product.sex %>
		</p>
		<p class="size">
			<strong>Размер:</strong>
			<%= @product.size %>
		</p>
		<br>
		<hr>
		<p class="cost">
			<strong>Цена:</strong>
			<%= @product.cost.to_s + " рублей" %>
		</p>
		<p class="discount">
			<strong>Скидка:</strong>
			<%= @product.discount.to_s + "%" %>
		</p>
		<br>
		<button>Оставить заявку</button>
	</div>
</div>
<hr>
<div class="last_products">
	<% @products.each do |product| %>
		<div class="product">
			<div class="product_img">
				<%= image_tag product.picture.url %>
			</div>
			<div class="product_discription">
				<div class="product_name"> 
					<%= product.name %>
				</div>
				<div class="product_cost"> 
					<%= product.cost.to_i.to_s + " руб." %>
				</div>
			</div>
			<%= link_to "", product_path(product) %>
		</div>
	<% end %>
</div>