
<h1>Product</h1>

<%= link_to "Back", shoes_index_url %>

<p>
	<strong>Type:</strong>
	<%= @product.type_product %>
</p>

<p>
	<strong>Name:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Discription:</strong>
	<%= @product.discription %>
</p>

<p>
	<strong>Color:</strong>
	<%= @product.color %>
</p>

<p>
	<strong>Picture:</strong>
	<%= @product.picture %><br>
	<%= image_tag @product.picture.url %>
</p>