<!DOCTYPE html>
<html>
  <head>
    <title>OwlStore</title>
    
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <%= link_to "", root_path %>
      </div>
      <div class="main_menu">
        <div class="main_menu_buttons">
          <%= link_to "обувь", shoes_index_url %>
          <%= link_to "футболки", shoes_index_url %>
          <%= link_to "рюкзаки", shoes_index_url %>
        </div>
        <div class="main_menu_buttons">
          <%= link_to "аксессуары", shoes_index_url %>
          <%= link_to "шнурки", shoes_index_url %>
          <%= link_to "куртки", shoes_index_url %>
        </div>
      </div>
    </div>

    <%= yield %>
    
    <div class="clr"></div>
    <div class="footer">
      <div class="social">
        <%= link_to "", "https://vk.com/owl_store_online",target: :_blank %>
      </div>
      <div class="copyright">
        <p><%= link_to "Owl Store 2017. ", products_path %>Все права защищены &copy;</p>
      </div>
    </div>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
